<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Annotation | ml4paleo</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .submit-button {
            position: fixed;
            bottom: 0;
            right: 0;
            border-radius: 25px;
            border: none;
            margin: 1em;
            padding: 0.5em 1em;
            background-color: #d1e7d1;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2pt;
            font-weight: bold;
        }

        .skip-button {
            position: fixed;
            bottom: 0;
            left: 0;
            border-radius: 25px;
            border: none;
            margin: 1em;
            padding: 0.5em 1em;
            background-color: #e8c7c7;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2pt;
            font-weight: bold;
        }

        .clear-button {
            position: fixed;
            top: 0;
            right: 0;
            border-radius: 25px;
            border: none;
            margin: 1em;
            padding: 0.5em 1em;
            background-color: #e8c7c7;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2pt;
            font-weight: bold;
        }

        #keymapOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
        }

        .hidden {
            display: none;
        }

        kbd {
            font-family: 'Courier New', Courier, monospace;
            display: inline-block;
            padding: 0.2em 0.8em;
            font-size: 90%;
            color: #444;
            vertical-align: middle;
            background-color: #f7f7f9;
            border: 2px solid #cfcfcf;
            border-bottom-color: #bbb;
            border-radius: 3px;
            box-shadow: inset 0 -1px 0 #bbb;
        }
    </style>
</head>

<body>
    <div id="keymapOverlay" class="hidden">
        <div style="background: #fefefecc; max-width: 40em; margin: auto; padding: 2em;">
            <h2>Keys</h2>
            <div id="keymap-list"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
    <script>

        const KEY_MAP = {
            zScrollUp: {
                keyCode: 188,
                key: ',',

                description: 'Scroll up in z', shift: false, ctrl: false, alt: false
            },
            zScrollDown: {
                keyCode: 190,
                key: '.',

                description: 'Scroll down in z', shift: false, ctrl: false, alt: false
            },

            panUp: {
                keyCode: 38,
                key: 'ArrowUp',

                description: 'Pan up', shift: false, ctrl: false, alt: false
            },
            panUpFast: {
                keyCode: 38,
                key: 'ArrowUp',
                description: '(Fast) Pan up', shift: true, ctrl: false, alt: false
            },
            panDown: {
                keyCode: 40,
                key: 'ArrowDown',
                description: 'Pan down', shift: false, ctrl: false, alt: false
            },
            panDownFast: {
                keyCode: 40,
                key: 'ArrowDown',
                description: '(Fast) Pan down', shift: true, ctrl: false, alt: false
            },
            panLeft: {
                keyCode: 37,
                key: 'ArrowLeft',
                description: 'Pan left', shift: false, ctrl: false, alt: false
            },
            panLeftFast: {
                keyCode: 37,
                key: 'ArrowLeft',
                description: '(Fast) Pan left', shift: true, ctrl: false, alt: false
            },
            panRight: {
                keyCode: 39,
                key: 'ArrowRight',
                description: 'Pan right', shift: false, ctrl: false, alt: false
            },
            panRightFast: {
                keyCode: 39,
                key: 'ArrowRight',
                description: '(Fast) Pan right', shift: true, ctrl: false, alt: false
            },

            zoomIn: {
                keyCode: 61,
                key: "+",
                description: 'Zoom in', shift: false, ctrl: false, alt: false
            },
            zoomInFast: {
                keyCode: 61,
                key: "+",
                description: '(Fast) Zoom in', shift: true, ctrl: false, alt: false
            },
            zoomOut: {
                keyCode: 173,
                key: "-",
                description: 'Zoom out', shift: false, ctrl: false, alt: false
            },
            zoomOutFast: {
                keyCode: 173,
                key: "-",
                description: '(Fast) Zoom out', shift: true, ctrl: false, alt: false
            },

            brushSizeUp: {
                keyCode: 87,
                key: "w",
                description: 'Increase brush size', shift: false, ctrl: false, alt: false
            },
            brushSizeUpFast: {
                keyCode: 87,
                key: "w",
                description: '(Fast) Increase brush size', shift: true, ctrl: false, alt: false
            },
            brushSizeDown: {
                keyCode: 81,
                key: "q",
                description: 'Decrease brush size', shift: false, ctrl: false, alt: false
            },
            brushSizeDownFast: {
                keyCode: 81,
                key: "q",
                description: '(Fast) Decrease brush size', shift: true, ctrl: false, alt: false
            },

            imageTransparencyUp: {
                keyCode: 83,
                key: "w",
                description: 'Increase annotation transparency', shift: false, ctrl: false, alt:
                    false
            },
            imageTransparencyUpFast: {
                keyCode: 83,
                key: "w",
                description: '(Fast) Increase annotation transparency', shift: true, ctrl:
                    false, alt: false
            },
            imageTransparencyDown: {
                keyCode: 65,
                key: "a",
                description: 'Decrease annotation transparency', shift: false, ctrl: false, alt:
                    false
            },
            imageTransparencyDownFast: {
                keyCode: 65,
                key: "a",
                description: '(Fast) Decrease annotation transparency', shift: true, ctrl:
                    false, alt: false
            },

            toggleAnnotationVisibility: {
                keyCode: 86,
                key: "v",
                description: 'Toggle annotation visibility', shift: false, ctrl: false, alt:
                    false
            },

            toggleKeyMapOverlay: {
                keyCode: 191,
                key: "?",
                description: 'Toggle key map overlay', shift: false, ctrl: false, alt: false
            },
        };

        let STATE = {
            // Image Rendering:
            imageLoaded: false,
            imageFilter: "invert",

            // Annotation Rendering:
            colorScheme: 1,
            annosVisible: true,
            imageTransparency: 0.2,

            // Brush:
            brushSize: 20,

            // Navigation:
            zoom: 1,
            panX: 0,
            panY: 0,

            histogram: {
                vmin: 0,
                vmax: 1.0,
                pvmin: 0,
                pvmax: 1.0,
            },

            z: {
                current: 0,
                annotating: undefined,
                min: 0,
                max: 0,
            }
        };

        const CONFIG = {
            zoom: {
                min: 0.005,
                max: 10,
            },

            brushSize: {
                min: 0.5,
                max: 200,
            },

            imageTransparency: {
                min: 0,
                max: 1,
            },

            pan: {
                smallIncrement: 10,
                bigIncrement: 100,
            },

            backgroundColor: "#333333",

            histogram: {
                width: 30,
                height: 200,
            }
        };

        let img;
        let paintPixels;

        const BASE_URL = ``;

        function screenToImage(x, y) {
            // Return [x, y] in image coordinates;
            const d = [
                (x - width / 2 + (STATE.zoom * img.width) / 2) /
                STATE.zoom -
                STATE.panX / STATE.zoom,
                (y - height / 2 + (STATE.zoom * img.width) / 2) /
                STATE.zoom -
                STATE.panY / STATE.zoom,
            ];
            return d;
        }

        function imageToScreen(x, y) {
            // Return [x, y] in screen coordinates;
            // Accounting for zoom and the translate to the center of the image.
            d = [STATE.zoom * x, STATE.zoom * y];
            return d;
        }

        function clearAnnotations() {
            paintPixels.erase()
            paintPixels.rect(0, 0, paintPixels.width, paintPixels.height);
            paintPixels.noErase();
        }

        function submitData() {
            // Save STATE to localStorage.
            localStorage.setItem("state", JSON.stringify(STATE));

            paintPixels.loadPixels();
            const maskPixels = paintPixels.canvas.toDataURL();

            // Set the image to the original image.
            for (let i = 0; i < img.pixels.length; i++) {
                img.pixels[i] = originalPixels[i];
            }
            img.updatePixels();
            img.loadPixels();
            const imagePixels = img.canvas.toDataURL();

            let jobId = window.location.pathname.split("/")[
                window.location.pathname.split("/").length - 1
            ];

            fetch(`${BASE_URL}/api/annotate/${jobId}/data/submit`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ mask: maskPixels, image: imagePixels }),
            }).then((res) => {
                return res.json();
            }).then((data) => {
                // There's a new image in data.prediction;
                // b64 encoded png. Render it to paintPixels.
                // img.src = `data:image/png;base64,${data.prediction}`;
                // loadImage('data:image/png;base64,' + data.prediction, img => {
                //     // Clear pixels by erasing:
                //     paintPixels.erase();
                //     paintPixels.rect(0, 0, paintPixels.width, paintPixels.height);
                //     paintPixels.noErase();
                //     // At half-size:
                //     paintPixels.image(img, 0, 0, img.width / 2, img.height / 2);
                // });
                window.location.reload();
            });
        }

        function adjustHistogram(vmin, vmax, imageObject, originalPixels, maxPixValue = 255) {

            for (let x = 0; x < imageObject.width; x++) {
                for (let y = 0; y < imageObject.height; y++) {
                    let i = (x + y * imageObject.width) * 4;

                    let pixR = originalPixels[i];
                    pixR = maxPixelValue * ((pixR / maxPixelValue) - vmin) / (vmax - vmin);

                    imageObject.pixels[i] = pixR;
                    imageObject.pixels[i + 1] = pixR;
                    imageObject.pixels[i + 2] = pixR;
                    // imageObject.pixels[i + 3] = pixA;
                }
            }
        }

        let originalPixels;
        let maxPixelValue = 255;
        function preload() {

            // If there's state in localStorage, use it.
            if (localStorage.getItem("state")) {
                try {
                    STATE = JSON.parse(localStorage.getItem("state"));
                    // Bump the histogram:
                    STATE.histogram.pvmin = -1;
                }
                catch { console.log("Error loading state from localStorage."); }
            }

            let _cachebuster = `?cachebuster=${Math.random()}`;
            let jobId = window.location.pathname.split("/")[
                window.location.pathname.split("/").length - 1
            ];

            img = loadImage(
                `${BASE_URL}/api/annotate/${jobId}/images/next${_cachebuster}`,
                (f) => {
                    // Set the z info:
                    STATE.z = {};
                    STATE.z.max = (f.height / f.width) - 1;
                    STATE.z.min = 0;
                    STATE.z.current = Math.round((STATE.z.max - STATE.z.min) / 2);
                    STATE.z.annotating = STATE.z.current;
                    img.loadPixels();
                    STATE.imageLoaded = true;
                    const imagePixels = img.canvas.toDataURL();
                    fetch(`${BASE_URL}/api/annotate/${jobId}/data/predict`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ image: imagePixels }),
                    }).then((res) => {
                        return res.json();
                    }).then((data) => {
                        // There's a new image in data.prediction;
                        // b64 encoded png. Render it to paintPixels.
                        window.prediction = data.prediction;
                        STATE.imageLoaded = true;

                        img.loadPixels();
                        originalPixels = img.pixels.map((x) => x);
                        maxPixelValue = originalPixels.reduce((a, b) => Math.max(a, b));
                    });
                }
            );
        }

        function setup() {
            createCanvas(windowWidth, windowHeight);
            frameRate(20);
            paintPixels = createGraphics(img.width / 2, img.width / 2);
            paintPixels.frameRate(1);
        }

        function keyPressed() {
            // Hitting escape resets pan and zoom:
            if (keyCode === ESCAPE) {
                STATE.panX = 0;
                STATE.panY = 0;
                STATE.zoom = 1;

                // If also holding shift, also go back to the home slice:
                if (keyIsDown(SHIFT)) {
                    STATE.z.current = STATE.z.annotating;
                }
            }

            // Pressing V toggles annotation visibility:
            // if (keyCode === 86) {
            if (key === "v") {
                STATE.annosVisible = !STATE.annosVisible;
            }

            // Zoom in/out with + and -
            if (keyCode === 173) {
                // If holding shift, move in increments of 50%
                if (keyIsDown(SHIFT)) {
                    STATE.zoom -= 0.5;
                } else {
                    STATE.zoom -= 0.1;
                }
                boundZoom();
            }
            if (keyCode === 61) {
                if (keyIsDown(SHIFT)) {
                    STATE.zoom += 0.5;
                } else {
                    STATE.zoom += 0.1;
                }
                boundZoom();
            }

            // Pan with arrows:
            if (key === 'ArrowUp') {
                STATE.panY += keyIsDown(SHIFT)
                    ? CONFIG.pan.bigIncrement
                    : CONFIG.pan.smallIncrement;
            }
            if (keyCode === DOWN_ARROW) {
                STATE.panY -= keyIsDown(SHIFT)
                    ? CONFIG.pan.bigIncrement
                    : CONFIG.pan.smallIncrement;
            }
            if (keyCode === LEFT_ARROW) {
                STATE.panX += keyIsDown(SHIFT)
                    ? CONFIG.pan.bigIncrement
                    : CONFIG.pan.smallIncrement;
            }
            if (keyCode === RIGHT_ARROW) {
                STATE.panX -= keyIsDown(SHIFT)
                    ? CONFIG.pan.bigIncrement
                    : CONFIG.pan.smallIncrement;
            }

            // Q and W to change brush size:
            if (keyCode === 81) {
                STATE.brushSize *= 0.9;
                if (keyIsDown(SHIFT)) { STATE.brushSize *= 0.8; }
                if (STATE.brushSize < CONFIG.brushSize.min) {
                    STATE.brushSize = CONFIG.brushSize.min;
                }
            }
            if (keyCode === 87) {
                STATE.brushSize *= 1.1;
                if (keyIsDown(SHIFT)) { STATE.brushSize *= 1.2; }
                if (STATE.brushSize > CONFIG.brushSize.max) {
                    STATE.brushSize = CONFIG.brushSize.max;
                }
            }

            // A and S to change image opacity:
            if (keyCode === 65) {
                STATE.imageTransparency -= .05;
                if (keyIsDown(SHIFT)) { STATE.imageTransparency -= .05; }
                if (STATE.imageTransparency > CONFIG.imageTransparency.max) {
                    STATE.imageTransparency = CONFIG.imageTransparency.max;
                }
            }
            if (keyCode === 83) {
                STATE.imageTransparency += .05;
                if (keyIsDown(SHIFT)) { STATE.imageTransparency += .05; }
                if (STATE.imageTransparency < CONFIG.imageTransparency.min) {
                    STATE.imageTransparency = CONFIG.imageTransparency.min;
                }
            }

            // , and . to scroll in z:
            if (keyCode === 188) {
                STATE.z.current -= 1;
                if (STATE.z.current < 0) {
                    STATE.z.current = 0;
                }
            }
            if (keyCode === 190) {
                STATE.z.current += 1;
                if (STATE.z.current > STATE.z.max) {
                    STATE.z.current = STATE.z.max;
                }
            }

            // ? toggles the key map:
            if (keyCode === 191) {
                toggleKeyMapOverlay();
            }
        }

        function boundZoom() {
            if (STATE.zoom > CONFIG.zoom.max) {
                STATE.zoom = CONFIG.zoom.max;
            }
            if (STATE.zoom < CONFIG.zoom.min) {
                STATE.zoom = CONFIG.zoom.min;
            }
        }

        function windowResized() {
            resizeCanvas(windowWidth, windowHeight);
        }

        function mouseWheel(event) {
            // Zoom in/out with mouse wheel:
            STATE.zoom -= event.delta / 1000;
            boundZoom();
        }

        function doubleClicked() {
            // Check for mouse pos in histogram:
            if (mouseX < CONFIG.histogram.width && mouseY < CONFIG.histogram.height) {
                // reset histogram:
                STATE.histogram.vmax = 1;
                STATE.histogram.vmin = 0;
                reloadHistogramSettings();
            }
        }

        function draw() {
            // If window.prediction is set, load it into paintPixels.
            if (window.prediction) {
                loadImage('data:image/png;base64,' + window.prediction, img => {
                    // Clear pixels by erasing:
                    paintPixels.erase();
                    paintPixels.rect(0, 0, paintPixels.width, paintPixels.height);
                    paintPixels.noErase();
                    // At half-size:
                    paintPixels.image(img, 0, 0, img.width / 2, img.width / 2);
                });
                window.prediction = undefined;
                reloadHistogramSettings();
            }

            push();
            translate(
                STATE.panX + (width / 2 - (STATE.zoom * img.width) / 2),
                STATE.panY + (height / 2 - (STATE.zoom * img.width) / 2)
            );
            // If mouse is over the image, switch to cursor=CROSS.
            // Otherwise, draw cursor=ARROW.
            if (inBounds(mouseX, mouseY)) {
                cursor(CROSS);
            } else {
                cursor(ARROW);
            }
            background(0);

            if (STATE.imageLoaded) {
                background(CONFIG.backgroundColor);
                // image(img, dx, dy, dWidth, dHeight, sx, sy, [sWidth], [sHeight], [fit], [xAlign], [yAlign])
                image(
                    img,
                    0, 0,
                    img.width * STATE.zoom, img.width * STATE.zoom,
                    0, (img.width * STATE.z.current),
                    img.width, img.width,
                );
            }

            if (STATE.annosVisible) {
                imgcoords = screenToImage(mouseX, mouseY);
                if (paintPixels) {
                    let homeSlice = STATE.z.current == STATE.z.annotating;
                    tint(
                        homeSlice ? 255 : 128,
                        STATE.imageTransparency * 255);
                    image(paintPixels, 0, 0, paintPixels.width * 2 * STATE.zoom, paintPixels.height * 2 * STATE.zoom);
                }
            }

            pop();
            if (inBounds(mouseX, mouseY)) {
                cursor(CROSS);
                // Draw the current brush size:
                noFill();
                strokeWeight(1);
                // Draw the brush size as a circle:
                if (!keyIsDown(SHIFT)) {
                    stroke((keyIsDown(OPTION) || keyIsDown(ALT)) ? "white" : "red");
                    ellipse(mouseX, mouseY, STATE.brushSize * STATE.zoom, STATE.brushSize * STATE.zoom);
                    stroke((keyIsDown(OPTION) || keyIsDown(ALT)) ? "red" : "white");
                    ellipse(mouseX, mouseY, STATE.brushSize * 1.05 * STATE.zoom, STATE.brushSize * 1.05 * STATE.zoom);
                }
            }
            textSize(12);
            fill("white");
            noStroke();
            text(`Mouse: ${Math.round(imgcoords[0])}, ${Math.round(imgcoords[1])}, ${STATE.z.current - STATE.z.annotating}\nZoom: ${Math.round(STATE.zoom * 100)}%`,
                10 + CONFIG.histogram.width,
                10
            );

            // Draw the histogram, which is a gradient from black to white.
            // The histogram is drawn in the top-left corner of the screen.
            noStroke();
            for (let i = 0; i < CONFIG.histogram.height; i++) {
                fill((255 * i) / CONFIG.histogram.height);
                rect(0, i, CONFIG.histogram.width, 1);
            }

            // Draw the histogram bounds:
            stroke("red");
            strokeWeight(1);
            let vMinMapped = map(STATE.histogram.vmin, 0, 1, CONFIG.histogram.height, 0);
            let vMaxMapped = map(STATE.histogram.vmax, 0, 1, CONFIG.histogram.height, 0
            );
            line(0, vMinMapped, CONFIG.histogram.width, vMinMapped);
            line(0, vMaxMapped, CONFIG.histogram.width, vMaxMapped);
        }

        function inBounds(x, y) {
            // return true if x, y screenspace coordinates are inside the
            // image, accounting for pan and zoom

            // Convert to image coordinates
            let imgcoords = screenToImage(x, y);

            // Check if in bounds
            return (
                imgcoords[0] >= 0 &&
                imgcoords[0] < img.width &&
                imgcoords[1] >= 0 &&
                imgcoords[1] < img.width
            );
        }

        function mousePressed() {
            if (!inBounds(mouseX, mouseY)) {
                // Check for submit button press:
                return;
            }

            // If we're in the middle of a gesture, ignore clicks
            if (keyIsDown(SHIFT)) {
                return;
            }
        }

        function mouseReleased() {
            if (
                (STATE.histogram.pvmax != STATE.histogram.vmax)
                || (STATE.histogram.pvmin != STATE.histogram.vmin)
            ) {
                reloadHistogramSettings();
            }
        }

        function reloadHistogramSettings() {
            STATE.histogram.pvmax = STATE.histogram.vmax;
            STATE.histogram.pvmin = STATE.histogram.vmin;
            // adjustHistogram to match the current histogram:
            adjustHistogram(
                STATE.histogram.vmin,
                STATE.histogram.vmax,
                img,
                originalPixels,
                maxPixelValue
            );
            img.updatePixels();
        }

        function mouseDragged() {
            // First check if you're within H vertically of the global top
            // left corner, and within W horizontally of the global top
            // left corner. If so, then you're in the histogram, and you should
            // interact with the histogram instead of the image:
            if (mouseX < CONFIG.histogram.width && mouseY < CONFIG.histogram.height) {

                // Are you closer to vmin or vmax?
                let vMinMapped = map(
                    STATE.histogram.vmin,
                    0,
                    1,
                    CONFIG.histogram.height,
                    0
                );
                let vMaxMapped = map(
                    STATE.histogram.vmax,
                    0,
                    1,
                    CONFIG.histogram.height,
                    0
                );
                let vminDist = Math.abs(mouseY - vMinMapped);
                let vmaxDist = Math.abs(mouseY - vMaxMapped);

                if (vminDist < vmaxDist) {
                    STATE.histogram.vmin = map(mouseY, CONFIG.histogram.height, 0, 0, 1);
                } else {
                    STATE.histogram.vmax = map(mouseY, CONFIG.histogram.height, 0, 0, 1);
                }
                return;
            }

            // Pan when holding shift:
            if (keyIsDown(SHIFT) || !inBounds(mouseX, mouseY)) {
                STATE.panX += movedX;
                STATE.panY += movedY;
                return;
            }

            paintPixels.fill(255, 0, 0);
            paintPixels.noStroke();
            let mappedMouse = screenToImage(mouseX, mouseY);
            let pMappedMouse = screenToImage(pmouseX, pmouseY);

            if (STATE.z.current == STATE.z.annotating) {
                // If holding alt, then erase:
                if (keyIsDown(OPTION) || keyIsDown(ALT)) {
                    paintPixels.erase();
                    paintPixels.ellipse(
                        mappedMouse[0] / 2,
                        mappedMouse[1] / 2,
                        STATE.brushSize / 2,
                        STATE.brushSize / 2
                    );
                    paintPixels.noErase();
                } else {
                    paintPixels.ellipse(
                        mappedMouse[0] / 2,
                        mappedMouse[1] / 2,
                        STATE.brushSize / 2,
                        STATE.brushSize / 2
                    );
                    paintPixels.strokeWeight(STATE.brushSize / 2);
                    paintPixels.stroke(255, 0, 0)
                    paintPixels.line(pMappedMouse[0] / 2, pMappedMouse[1] / 2, mappedMouse[0] / 2, mappedMouse[1] / 2);
                    paintPixels.noStroke();
                }
            }
        }

        // Toggle keymap with ?:
        function toggleKeyMapOverlay() {
            let overlay = document.getElementById("keymapOverlay");
            if (overlay.classList.contains("hidden")) {
                overlay.classList.remove("hidden");
            } else {
                overlay.classList.add("hidden");
            }
        }

        // Create the keymap list:
        (() => {
            let keymapList = document.getElementById("keymap-list");
            // Create the table:
            let table = document.createElement("table");
            keymapList.appendChild(table);
            let keymap = KEY_MAP;
            for (let key in keymap) {
                // Convert from keyCode to character:
                let k = keymap[key].key;
                // Ascii to character:
                let keymapItem = document.createElement("tr");
                keymapItem.innerHTML = `<td>
                ${keymap[key].shift ? "<kbd>⇧</kbd>" : ""}
                ${keymap[key].option ? "<kbd>⌥</kbd>" : ""}
                ${keymap[key].control ? "<kbd>⌃</kbd>" : ""}
                ${keymap[key].command ? "<kbd>⌘</kbd>" : ""}</td><td>
                <kbd>${k}</kbd></td><td>${keymap[key].description} <small>(${key})</small></td>
                `;
                table.appendChild(keymapItem);
            }
        })()
    </script>

    <!-- UI to submit (floating bottom) -->
    <div class="submit-container">
        <button class="clear-button" onclick="clearAnnotations()">Clear</button>
        <button class="skip-button" onclick="window.location.reload()">Skip</button>
        <button class="submit-button" onclick="submitData()">Submit</button>
    </div>

    <div id="p5_loading">
        <!-- Loading screen for the annotation tool. -->
        <div class="loading-container">
            <div class="loading-dot">•</div>
            <div class="loading-dot">•</div>
            <div class="loading-dot">•</div>
        </div>

        <style>
            .loading-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* Animated loading dots */
            .loading-dot {
                color: #ffffff;
                font-size: 50px;
                animation: loading-dot 1s infinite;
                margin: 0 10px;
            }

            .loading-dot:nth-child(2) {
                animation-delay: 0.2s;
            }

            .loading-dot:nth-child(3) {
                animation-delay: 0.4s;
            }

            @keyframes loading-dot {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        </style>
</body>

</html>