{% from "macros.html" import status_badge %}
{% from "macros.html" import pretty_date %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if (job.status | string in ["JobStatus.SEGMENTING", "JobStatus.CONVERTING"]) %}
    <title>
        {{ job.name }} ({{
        "%.1f" | format(job.current_job_progress*100)
        }}%) | ml4paleo
    </title>
    {% else %}
    <title>{{ job.name }} | ml4paleo</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col">
                <article>
                    <header>
                        <h1>
                            {{ job.name }}
                            <div style="float:right" data-tooltip="{{job.status}}">{{ status_badge(job.status) }}</div>
                        </h1>
                    </header>
                    <!-- <p>
                            <a role="button" href="{{ neuroglancer_link }}" target="_blank"
                                data-tooltip="Open 3D view in a new tab">
                                View in 3D
                            </a>
                        </p>
                        <p>
                            <small>
                                Created {{pretty_date(job.created_at)}}
                            </small>
                            <small>
                                Last updated {{pretty_date(job.last_updated_at) }}
                            </small>
                        </p> -->
                    <table>
                        <tr>
                            <th>Creation Date</th>
                            <th>Last Updated</th>
                            <th>Latest Segmentation ID</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>{{pretty_date(job.created_at)}}</td>
                            <td>{{pretty_date(job.last_updated_at) }}</td>
                            <td>{{latest_segmentation_id}}</td>
                            <td><a href="{{ neuroglancer_link }}" target="_blank"
                                    data-tooltip="Open 3D view in a new tab">
                                    View in 3D
                                </a></td>
                        </tr>
                    </table>
                </article>

                {% if job.status | string == "JobStatus.UPLOADED" %}
                <div>
                    <label for="upload-progress">Upload Progress</label>
                    <progress value="100" max="100" id="upload-progress"></progress>
                </div>
                {% endif %}
                {% if job.status | string == "JobStatus.CONVERTING" %}
                <div>
                    <label for="convert-progress">Conversion Progress
                        ({{ "%.3f" | format(job.current_job_progress*100) }}%)
                    </label>
                    <progress value="{{100 * job.current_job_progress}}" max="100" id="convert-progress"></progress>
                </div>
                {% endif %}


                {% if job.status | string == "JobStatus.SEGMENTING" %}
                <article>
                    <label for="segment-progress">Segmentation Progress ({{
                        "%.3f" | format(job.current_job_progress*100)
                        }}%)</label>
                    <progress value="{{100 * job.current_job_progress}}" max="100" id="segment-progress"></progress>
                </article>
                {% endif %}

                {% if segmentation_ready %}
                {% include "job_page_components/segmentation_results.html" %}
                {% endif %}
                {% if job.status | string in ["JobStatus.SEGMENT_ERROR"] %}
                <h2>Segmentation failed.</h2>
                <p>
                    The segmentation failed to run. This could be due to a few reasons:
                </p>
                <ul>
                    <li>
                        <b>There were not enough annotated slices to train a model.</b> Try annotating a few more
                        slices.
                    </li>
                    <li>
                        <b>The model failed to converge.</b> This could be because the model received conflicting
                        annotations. Make sure you only annotate one type of material per job (i.e., only bone, or
                        only enamel).
                    </li>
                </ul>
                <p>
                    There are currently <b>{{ num_annotations }}</b> annotated slices. You can train a model with
                    any
                    number of annotated slices, but we recommend at least 10.
                </p>
                <p>
                    <a target="_blank" href="{{ url_for('annotation_page', job_id=job.id) }}">
                        Continue annotating
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
        {% if meshes_ready %}
        <div class="row">
            <div class="col">
                {% include 'job_page_components/download_meshes.html' %}
            </div>
        </div>
        {% endif %}

        {% if (annotation_ready and job.status | string != "JobStatus.SEGMENTING") or (((job.status | string) ==
        "JobStatus.CONVERTING") and job.current_job_progress > 0.4) %}
        <div class="row">
            <div class="col">{% include "job_page_components/annotation_cta.html" %}</div>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const notyf = new Notyf({
            duration: 8000,
            position: {
                x: "right",
                y: "bottom",
            },
            dismissible: true,
        });

        triggerSegmentation = () => {
            // Disable the button
            document.getElementById("segmentation-trigger-button").disabled = true;
            // Set aria-busy:
            document.getElementById("segmentation-trigger-button").setAttribute("aria-busy", "true");

            fetch("/api/job/{{ job.id }}/start", {
                method: "POST",
            })
                .then((response) => {
                    if (response.ok) {
                        notyf.success("Segmentation started. You will receive an email when it is complete.");
                    } else {
                        notyf.error("There was an error starting segmentation. Please try again in a few minutes.");
                    }
                })
                .catch((error) => {
                    notyf.error("There was an error starting segmentation. Please try again in a few minutes.");
                });
        };

        triggerTrainOnly = () => {
            // Disable the button
            document.getElementById("train-only-trigger-button").disabled = true;
            // Set aria-busy:
            document.getElementById("train-only-trigger-button").setAttribute("aria-busy", "true");

            fetch("/api/job/{{ job.id }}/retrain", {
                method: "POST",
            })
                .then((response) => {
                    if (response.ok) {
                        notyf.success("Training started.");
                    } else {
                        notyf.error("There was an error starting training. Please try again in a few minutes.");
                    }
                })
                .catch((error) => {
                    notyf.error("There was an error starting training. Please try again in a few minutes.");
                });
        };


        window.setInterval(() => {
            fetch("/api/job/{{ job.id }}/status")
                .then((response) => response.json())
                .then((data) => {
                    console.log(data, "{{job.status | string}}")
                    if (data.status !== "{{job.status | string}}" || data.status === "JobStatus.SEGMENTING" || data.status === "JobStatus.CONVERTING") {
                        window.location.reload();
                    }
                });
        }, 5000);


        // When the page loads, get the job ID and name and put them
        // in localstorage if they aren't already there.
        let jobId = "{{ job.id }}";
        let jobName = "{{ job.name }}";

        if (jobId.trim() !== "" && jobName.trim() !== "") {
            let jobs = JSON.parse(localStorage.getItem('jobs'));
            if (jobs === null) {
                jobs = [];
            }
            if (!jobs.some((job) => job.id === jobId)) {
                jobs.push({
                    id: jobId,
                    name: jobName,
                });
                localStorage.setItem('jobs', JSON.stringify(jobs));
            }
        }

    </script>
</body>

</html>