<article>
    <header>
        <h3>Previous Jobs</h3>
    </header>
    <table id="job-list">
    </table>

    <script>
        // Check localStorage for `jobs` key.
        const template = `
            <tr>
                <td>
                    <a href="/job/$ID">
                        $NAME
                    </a>
                    <span data-tooltip="Remove from the list (will not delete)" style="float:right;cursor:pointer" class="link" onClick="deleteJobFromPrevList('$ID')">❌</span>
                </td>
            </tr>
        `;
        const jobs = JSON.parse(localStorage.getItem('jobs'));
        const jobList = document.getElementById('job-list');
        if (jobs) {
            jobList.innerHTML = " ";
            jobs.forEach(job => {
                const html = template
                    .replace('$ID', job.id)
                    .replace('$ID', job.id)
                    .replace('$NAME', job.name);
                console.log(html)
                jobList.innerHTML += html;
            });
        } else {
            jobList.innerHTML = "Once you have submitted a job, it will appear here."
        }

        function deleteJobFromPrevList(id) {
            const jobs = JSON.parse(localStorage.getItem('jobs'));
            const newJobs = jobs.filter(job => job.id !== id);
            localStorage.setItem('jobs', JSON.stringify(newJobs));
            window.location.reload();
        }

    </script>
</article>