<article>
    <header>
        <h3>Segmentation Training</h3>
    </header>
    <p>
        <a target="_blank" role="button" href="{{ url_for('annotation_page', job_id=job.id) }}">
            Continue annotating
        </a>
    </p>
    <p>
        There are currently {{ num_annotations }} annotated slices.
    </p>
    <p>
        You can train a model with any number of annotated slices, but we recommend at least 10. (You
        can always annotate a bit more and then retrain!)
    </p>
    {% if has_been_annotated %}
    <p>
        <button id="segmentation-trigger-button" onclick="triggerSegmentation()">Start automatic segmentation</button>
    </p>
    <p>
        If you would like to refresh the realtime segmentation that you're shown in the annotation tool but you <i>do
            not yet want to generate segmentation</i>, you can click to <a href="#" id="train-only-trigger-button"
            onclick="triggerTrainOnly()">retrain
            the model</a>.
    </p>
    {% endif %}
</article>