<article>
    <header>
        <h3>Segmentation Training</h3>
    </header>
    {% if job.status | string == "JobStatus.CONVERTING" %}
    <p>
        Your job is still converting but you can start annotating now. Return to
        this page to check in on progress.
    </p>
    {% endif %}
    <p>
        <a target="_blank" role="button" href="{{ url_for('annotation_page', job_id=job.id) }}">
            Continue Annotating
        </a>
    </p>
    <p>
        There are currently <b>{{ num_annotations }}</b> annotated slices.
    </p>
    {% if num_annotations > 0 %}
    <p>
        Go to the <a href="{{ url_for('annotation_gallery', job_id=job.id) }}">annotation gallery</a>
        to see or delete your annotations.
    </p>
    {% endif %}
    <p>
        You can train a model with any number of annotated slices, but you won't
        get any interesting results with fewer than 5, and we recommend at least
        50. (You can always annotate a bit more and retrain!)
    </p>
    {% if has_been_annotated %}
    <p>
        {% if job.status | string == "JobStatus.TRAINING_QUEUED" %}
        <button disabled aria-busy="true">Segmentation has been queued</button>
        {% else %}
        <button id="segmentation-trigger-button" onclick="triggerSegmentation()">Start automatic segmentation</button>
        {% endif %}
    </p>
    {% if num_annotations >= 2 %}
    <p>
        If you would like to refresh the realtime segmentation that you're shown in the annotation tool but you <i>do
            not yet want to generate segmentation</i>, you can click to <a href="#" id="train-only-trigger-button"
            onclick="triggerTrainOnly()">retrain
            the model</a>.
    </p>
    {% endif %}
    {% endif %}
</article>